.informations-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap; 
    margin-bottom: 95px;
  }
  @media (max-width: 768px) {
    .informations-container  {
      margin-left: 5px;
      margin-top: 115px;
    }
}
  
  .description {
    width: 45%;
    padding-right: 58px;
    padding-bottom: 45px;
  }


 
  .equipements {
    width: 45%;
    padding-right: 80px;
    padding-bottom: 45px;
  }
  @media (max-width: 768px) {
    .equipements {
      width: 100%;
      
    }
  }
  
  /* Boutons pour dérouler la description et les équipements */
  .description-button,
  .equipements-button {
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 53px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;

  }
  @media (max-width: 768px) {
    .description-button,
    .equipements-button {
      width: 315px;
      margin-left: 5px;
      font-size: 13px;
    }
}
  
  .chevron-icon {
    margin-left: 10px;
  }
  
  /* Bloc uniforme pour la description */
  .description-text {
    background-color: #f6F6F6; 
    padding-bottom: 13px;
    margin-left: 51px;
    width: 97%;
    font-size: 14px;
    padding-left: 10px;
    text-align: justify;
    margin-top: 0;
  }
  @media (max-width: 768px) {
    .description-text {
      width: 320px;
      margin-left: 5px;
  }
    }

  
  /* Bloc uniforme pour la liste des équipements */
  .equipements-list {
    margin-top: 0px;
    background-color: #f6F6F6; 
    line-height: 6px;
    list-style-type: none;
    padding-left: 5px;
    font-size: 14px;
}

    ul.equipements-list {
        margin-left: 52px;
        width: 97%;
    }
    @media (max-width: 768px) {
      ul.equipements-list {
        margin-left: 5px;
      }
    }
  
  .equipement-item {
    padding: 8px;
    
  }
  
  .equipement-item:last-child {
    border-bottom: none; /* Pas de bordure pour le dernier élément */
  }
  