.informations-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 42px;
    
  }
  
  @media (max-width: 768px) {
    .informations-container {
      flex-direction: column; 
      margin-left: 5px;
      margin-top: 115px;
    }
  }
  
 
  .description,
  .equipements {
    width: 45%; 
    padding-bottom: 45px;
  }
  
  @media (max-width: 768px) {
    .description,
    .equipements {
      width: 100%;
      padding-bottom: 23px; 
    }
  }
  
 
  
