/* InfoApropos.css */
.info-apropos {
    margin: auto;
     width: 58%;
     margin-bottom: 135px;
  }
  @media (max-width: 768px) {
    .info-apropos {
    margin-left: 13px;
    width: 91%;
    padding-top: 36px;
    padding-bottom: 33px;
    }
  }


  .info-section {
    margin-bottom: 15px;
  }
  
  .toggle-summary {
    background-color: red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
  
  .chevron-icon {
    margin-left: 10px;
  }
  
  .open-chevron {
    display: none;
  }
  
  details[open] .open-chevron {
    display: inline;
  }
  
  details[open] .closed-chevron {
    display: none;
  }
  
  .info-text {
    margin-top: 0px;
    font-size: 14px;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 5px;
  }
  
  