.footer {
  background-color: black;
  text-align: center;
  width: 102%;
  margin-left: -10px;
  height: 105px;
  padding-top: 45px;
}


.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.footer-icon-text {
  display: flex;
  align-items: center; 
  margin-top: 10px; 
}

.footer-icon {
  width: 50px; 
  height: 50px;
  background-color: black; 
  padding: 10px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon img {
  filter: brightness(0) invert(1); 
}

.footer-title {
  color: white;
  font-size: 16px;
  margin: 0; 
}
